@model IEnumerable<MVC_Amalfi_Sort_Order.Models.metric>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.campaignID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.display_order)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.campaignID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.display_order)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.metricID }) |
            @Html.ActionLink("Details", "Details", new { id=item.metricID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.metricID })
        </td>
    </tr>
}

</table>
